<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Zoe - Médicos</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/gerencia.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <div class="container header-content">
            <div class="logo">
                <img th:src="@{/images/logo-zoe.png}" alt="Logo Clínica Zoe">
                <div class="logo-text">
                    <h1>Grupo Zoe</h1>
                    <p>Medicina Ocupacional</p>
                </div>
            </div>

            <nav class="navbar">
                <a th:href="@{/gerencia}">DASHBOARD</a>
            </nav>
        </div>
    </header>

    <main class="gerente-layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Administração</h2>
            <nav class="sidebar-nav">
                <a th:href="@{/admin/funcionario}" >Funcionario</a>
                <a th:href="@{/admin/campanha}">Campanha</a>
                <a th:href="@{/admin/medico}" class="active">Medico</a>

            </nav>
        </aside>


        <!-- Dashboard Médicos -->
        <section class="dashboard">
            <div class="dashboard-header">
                <h2>Lista de Médicos</h2>
                <a th:href="@{/admin/medicos/cadastro}" class="btn-cadastrar">
                    <i class="fa-solid fa-plus"></i> Cadastrar Médico
                </a>
            </div>

            <!-- Tabela de Médicos -->
            <div class="dashboard-content" id="medicos-container">
                <p>Carregando médicos...</p>
            </div>
        </section>
    </main>

    <!-- Rodapé -->
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <p>&copy; 2025 Clínica Zoe - Todos os direitos reservados</p>
            </div>
        </div>
    </footer>
    <script th:src="@{/script/ExportMedicos.js}"></script>
</body>
</html>

